.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.801),
      /* you can only do this in sass*/ rgba($color-primary-dark, 0.801)
    ),
    url(../img/hero.jpg); /* the first parameter is on top*/
  background-size: cover; /* to fit in the parent element*/
  background-position: top; /* no matter  how you resize the window, the image will always stay fixed on top of the container*/
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /* fot the triangle cut below the image, see clippy site*/

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
